<div class="notification-container notification-@Position.ToString().ToLower()">
    @foreach (var msg in Notifications)
    {
        <div class="notification notification-@msg.Level.ToString().ToLower() show">
            <div class="notification-content">
                <span class="notification-icon">@GetIcon(msg.Level)</span>
                <span class="notification-text">@msg.Message</span>
            </div>
            <button class="notification-close" @onclick="() => Close(msg.Id)">✕</button>
        </div>
    }
</div>

