<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column" style="direction:rtl;">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill" aria-hidden="true"></span> خانه
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customer/add">
                <span class="bi bi-person-plus-fill" aria-hidden="true"></span> افزودن مشتری
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="customer/import">
                <span class="bi bi-file-earmark-excel-fill" aria-hidden="true"></span> ورود از اکسل
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sms/send">
                <span class="bi bi-chat-dots-fill" aria-hidden="true"></span> ارسال پیامک
            </NavLink>
        </div>
    </nav>
</div>
