<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<system.webServer>
		<staticContent>
			<remove fileExtension=".blat" />
			<remove fileExtension=".dat" />
			<remove fileExtension=".dll" />
			<remove fileExtension=".webcil" />
			<remove fileExtension=".json" />
			<remove fileExtension=".wasm" />
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".xml" />
			<remove fileExtension=".txt" />
			<mimeMap fileExtension=".blat" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".dll" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".webcil" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".dat" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			<mimeMap fileExtension=".wasm" mimeType="application/wasm" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="application/font-woff" />
			<mimeMap fileExtension=".xml" mimeType="application/xml" />
			<mimeMap fileExtension=".txt" mimeType="text/plain" />
		</staticContent>
		<httpCompression>
			<dynamicTypes>
				<add mimeType="application/octet-stream" enabled="true" />
				<add mimeType="application/wasm" enabled="true" />
			</dynamicTypes>
		</httpCompression>
		<httpProtocol>
			<customHeaders>
				<remove name="Alt-Svc" />
				<remove name="Cache-Control" />
				<add name="Cache-Control" value="no-store, no-cache, must-revalidate" />
			</customHeaders>
		</httpProtocol>
		<rewrite>
			<rules>
				<!-- _framework files must always be served directly, never fall to SPA fallback -->
				<rule name="Serve framework files" stopProcessing="true">
					<match url="^_framework/(.*)" />
					<action type="Rewrite" url="wwwroot/_framework/{R:1}" />
				</rule>
				<!-- Any other file that physically exists under wwwroot -->
				<rule name="Serve subdir" stopProcessing="true">
					<match url="(.*)" />
					<conditions logicalGrouping="MatchAll">
						<add input="{DOCUMENT_ROOT}\wwwroot\{R:1}" matchType="IsFile" />
					</conditions>
					<action type="Rewrite" url="wwwroot/{R:1}" />
				</rule>
				<!-- SPA fallback for all other routes -->
				<rule name="SPA fallback routing" stopProcessing="true">
					<match url=".*" />
					<action type="Rewrite" url="wwwroot/index.html" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>
